*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.form-container{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #e0e7f9;
    border-radius: 12px;
    padding: 40px;
}
.input-container{
    margin-top: -15px;
}
.text-input{
    padding: 10px;
    width: 330px;
}

.placeholder-text{
    margin-block-end: 0.5em;
    color: #0000006d;
    font-weight: 500;
    font-size: 14px;
}

.btn{
    background-color: #00e679;
    border-radius: 5px;
    border: none;
    width: 352px;
    height: 65px;
    font-size: 20px;
    margin-top: 20px;
}
.text-input{
    margin-bottom: 5px;
}
.error-label{
    color: red;
    font-size: 13px;
    margin-top: -5px;
    display: flex;
    justify-content: end;
}
.error .text-input {
    border: 2px solid red;
}

label {
    justify-content: end;
 }



